<div class="ui feed message me">
	<div class="content-container">
		<div class="event">
			<%# <div class="label">
				<img src="/images/avatar/small/jenny.jpg">
			</div> %>
			<div class="content">
				<div class="summary">
				<% if message.user.photo.attached? %>
					<%= cl_image_tag message.user.photo.key, height: 250, width: 250, crop: :fill, class: "ui avatar image", id: "nav-avatar" %>
				<% end %>
				 <em><%= message.content %></em>
				</div>
			</div>
			<div class="author">
				<%= message.user.username %> - <%= time_ago_in_words(message.created_at) %>
			</div>
		</div>
	</div>
</div>

