#submit-btn {
	background-color: transparent;
	border: none;
	border-radius: 0.28rem;
	cursor: pointer;
}

.ui.modal .actions > .button {
	margin-left: 0;
}

.ui.menu .ui.dropdown .menu > .active.item {
	background-color: rgb(182, 182, 182) !important;
	border-radius: none;
}

.ui.button {
	background-color: $secondary;
}